body {
    margin: 0;
}

.title {
    border: 1px solid blue;
}

.content {
    border: 1px solid red;
}

.kanjiLabel {
    border: 1px solid green;
}

.kanjiDetail {
    border: 1px solid black;
}

.kanjiBigContainer {
    border: 1px solid purple;
}

.kanjiBig {
    font-size: 6rem;
    background: red;
}
